/*
*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
}
*/

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-size: 1em;
}

header{
    width: 100% ;
    height:130px;  /* 150px */
    background-color: rgba(94,41,154, 0.8);
    position: absolute;
    z-index: 2;
}

header .container{
    position: relative;
}

header .header-black{
    background-color: #000;
    height: 40px;
}

header .header-black li{
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}

header .container img {
    position: absolute;
    top: 3px; /* 20px */
    z-index: 3;
}

#menu{
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 25px; /* 32px */
}

#menu li{
    display: inline-block;
    font-family: "Open-Sans";
}

#menu li.search{
    width: 182px;
    border: none;
}

#menu li.search input{
    background-color: #5C2D90;
    border: none;
    height: 30px;
    line-height: 30px;
}

#menu li.search ::-webkit-input-placeholder{
    color: #fff;
}
#menu li.search button{
    height: 30px;
    border: none;
    background-color: #5C2D90;
    position: absolute;
    right: 3px;
}

#menu li.search button i{
    color: rgba(255, 255, 255, .5);
}

#menu ul{
    float: right!important;
}

#menu li a{
    color: #FFF;
    font-size: 16px;
    margin: 18px 25px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url(../img/banner.jpg) no-repeat;
    background-position: -72px -47px;
    top: 22px;
    z-index: 1;
}

#banner h1{
    color: #FFF;
    top: 300px;
    position: relative;
    font-size: 92px;
    text-shadow: 2px 2px 2px rgba(0,0,0,.45);
    font-family: 'OpenSans-Light';
    margin-left: 15px;
}
#banner h1 small{
    font-size: 32px;
    display: block;
    font-family: 'OpenSans';
    font-weight: bold;
    margin-left: 54px;
}

/* -----------------------clubs---------------------------*/

header .header-black li.club-01{
    background-position: 0px;
}
header .header-black li.club-02{
    background-position: -48px;
}
header .header-black li.club-03{
    background-position: -94px;
}
header .header-black li.club-04{
    background-position: -140px;
}
header .header-black li.club-05{
    background-position: -189px;
}
header .header-black li.club-06{
    background-position: -239px;
}
header .header-black li.club-07{
    background-position: -288px;
}
header .header-black li.club-08{
    background-position: -335.5px;
}
header .header-black li.club-09{
    background-position: -379px;
}
header .header-black li.club-10{
    background-position: -429px;
}
header .header-black li.club-11{
    background-position: -479px;
}
header .header-black li.club-12{
    background-position: -528px;
}
header .header-black li.club-13{
    background-position: -578px;
}
header .header-black li.club-14{
    background-position: -628px;
}
header .header-black li.club-15{
    background-position: -674px;
}
header .header-black li.club-16{
    background-position: -718px;
}
header .header-black li.club-17{
    background-position: -761px;
}
header .header-black li.club-18{
    background-position: -806px;
}
header .header-black li.club-19{
    background-position: -854px;
}
header .header-black li.club-20{
    background-position: -901px;
}
header .header-black li.club-21{
    background-position: -948px;
}
header .header-black li.club-22{
    background-position: -996px;
}
/* -------------------------------------------------------*/
