/*
*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding:0;
}
*/

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-size: 1em;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-size: 1em;
}

.mainHeader{
    width: 100% ;
    height:130px;  /* 150px */
    background-color: rgba(94,41,154, 0.8);
    position: absolute;
    z-index: 2;
}

.otherPagesHeader{
    width: 100% ;
    height:130px;  /* 150px */
    background-color: rgba(94,41,154, 0.8);
    z-index: 2;
}

header .container{
    position: relative;
}

header .header-black{
    background-color: #000;
    height: 40px;
}

header .header-black li{
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}

header .container img {
    position: absolute;
    top: 3px; /* 20px */
    z-index: 3;
}

#banner h1.efeito{
    color:rgb(96, 224, 233);
    font-size:9em;
}

#menu{
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 25px; /* 32px */
}

#menu li{
    display: inline-block;
    font-family: "Open-Sans";
}

#menu li.search{
    width: 182px;
    border: none;
}

#menu li.search input{
    background-color: #5C2D90;
    border: none;
    height: 30px;
    line-height: 30px;
}

#menu li.search ::-webkit-input-placeholder{
    color: #fff;
}
#menu li.search button{
    height: 30px;
    border: none;
    background-color: #5C2D90;
    position: absolute;
    right: 3px;
}

#menu li.search button i{
    color: rgba(255, 255, 255, .5);
}

#menu ul{
    float: right!important;
}

#menu li a{
    color: #FFF;
    font-size: 16px;
    margin: 18px 25px;
}

#banner {
    width: 100%;
    height: 728px;
    position: relative;
    background: url(../img/banner.jpg) no-repeat;
    background-position: -47px -47px;
    top: 22px;
    z-index: 1;
}

#banner h1{
    color: #FFF;
    top: 300px;
    position: relative;
    font-size: 92px;
    text-shadow: 2px 2px 2px rgba(0,0,0,.45);
    font-family: 'OpenSans-Light';
    margin-left: 15px;
    transition: 1s;
}
#banner h1 small{
    font-size: 32px;
    display: block;
    font-family: 'OpenSans';
    font-weight: bold;
    margin-left: 54px;
}

#news{
    position: relative;

}

.text-center{
    margin-top: 12px;
}

#news h2{
    color: #5E2799;
    font-family: 'Open-Sans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
}

#news hr{
    border: #ebb215 solid 2px;
    background-color: #ebb215;
    width: 200px;
    margin: 0 auto;
}

#news .thumbnails{
    margin-top: 40px;
}

#news .thumbnails h3{
    color: #5E299A;
    font-size: 16px;
    font-family: 'OpenSans';
    font-weight: bold;
    margin-bottom: 0px;
}
#news .thumbnails time{
    color: #A7A7A7;
}

#news .thumbnails .item-inner{
    padding: 10px;
}
#news .thumbnails .item-inner img{
    width: 100%;
}

#estatisticas{
    background-color: #5E299A;
    width: 100%;
    height: 172px;
    text-align: center;
    margin-top: 28px;
}

#estatisticas p{
    color: #FDE092;
    text-transform:uppercase;
    font-family: 'Open-Sans-Light';
    font-size: 29px;
    margin-top: 62px;
}
#estatisticas p small{
    color: #fff;
    font-size: 24px;
    display: block;
}

.call-to-action{
    text-align: center;
    margin-top: 105px;
}

.call-to-action h2{
    color: #5E2799;
    font-family: 'Open-Sans-Light';
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
}

.call-to-action hr{
    border: #ebb215 solid 8px;
    background-color: #ebb215;
    width: 450px;
    margin: 0 auto;
}

.call-to-action p{
    margin-top: 60px;
    margin-bottom: 40px;
    color: #656565;
}

.call-to-action .btn-roxo{
    color: #fff;
    background-color: #5E299A;
    border-color: #5E299A;
    min-width: 164px;
    height: 44px;
}
.call-to-action .btn-amarelo{
    color: black;
    background-color: #FDE192;
    border-color: #FDE192;
    min-width: 164px;
    height: 44px;
}

.call-to-action-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer{
    margin-top: 110px;
}

footer .row{
    width: 99.65vw;
}

footer .row-cinza-claro{
    height: 220px;
    background-color: #171F26;
} 
footer .row-cinza-escuro{
    background-color: #11171D;
    border-top: #11171d solid 1px;
    height: 60px;
}

footer .text1{
    color :#666;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

footer .text-roxo{
    color :#623291;
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
}

footer .container{
    align-self: center;
}

footer .container > p{
    margin: 0px 28px 0px 28px;
}

footer .columns4{
    height: 200px;
    width: 377px;
    float: left;
}

footer .footer-logotipo{
    position: relative;
    top: 19px;
    left: 19px;
}

footer .col-popular-posts, footer .col-links, footer .col-get-in-touch{
    padding-top: 40px;
}

footer .row-cols h4{
    font-family: 'Open-Sans';
    font-size: 16px;
    color:#FFF;
    padding-bottom: 9px;
    border-bottom: #242D37 1px solid;
}

footer .row-cols h5{
    color: #666;
    font-family: Arial;
    font:14px;
}

footer .row-cols time{
    color:#FDE092;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 0;
}

footer .row-cols{
    width: auto;
}

footer .col-links a{
    color: #FFF;
    font-family: Arial;
    font-size: 14px;
}

footer .col-get-in-touch address{
    color:#666;
    font-family: Arial;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

footer .col-get-in-touch address span{
    display: inline-block;
}

footer .col-get-in-touch i{
    color: #989898;
    font-size: 20px;
}

footer .fa-map-marker, .fa-phone{
    padding-right: 14px;
}

.col-get-in-touch p{
    color: #666;
}

footer .list-socials{
    margin-top: 17px;
}

footer .list-socials li{
    display: inline-block;
    margin-right: 12px;
}

footer .list-socials a{
    display: block;
    border: #9B9B9B 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}
footer.list-socials i{
    font-size: 16px;
    margin: 7px auto;
}

footer .fa-pinterest-p{
    padding: 0px;
}

/* -----------------------clubs---------------------------*/

header .header-black li.club-01{
    background-position: 0px;
}
header .header-black li.club-02{
    background-position: -48px;
}
header .header-black li.club-03{
    background-position: -94px;
}
header .header-black li.club-04{
    background-position: -140px;
}
header .header-black li.club-05{
    background-position: -189px;
}
header .header-black li.club-06{
    background-position: -239px;
}
header .header-black li.club-07{
    background-position: -288px;
}
header .header-black li.club-08{
    background-position: -335.5px;
}
header .header-black li.club-09{
    background-position: -379px;
}
header .header-black li.club-10{
    background-position: -429px;
}
header .header-black li.club-11{
    background-position: -479px;
}
header .header-black li.club-12{
    background-position: -528px;
}
header .header-black li.club-13{
    background-position: -578px;
}
header .header-black li.club-14{
    background-position: -628px;
}
header .header-black li.club-15{
    background-position: -674px;
}
header .header-black li.club-16{
    background-position: -718px;
}
header .header-black li.club-17{
    background-position: -761px;
}
header .header-black li.club-18{
    background-position: -806px;
}
header .header-black li.club-19{
    background-position: -854px;
}
header .header-black li.club-20{
    background-position: -901px;
}
header .header-black li.club-21{
    background-position: -948px;
}
header .header-black li.club-22{
    background-position: -996px;
}
/* -------------------------------------------------------*/
