body{
    margin: 0px;
}
.flex-conteiner{    
    background-color: darkgrey;
    font-size: 28px;
    display: flex;
    padding: 7px;
    width: 1340px;
    height: 140px;
    margin: 10px;
}

    .flex-conteiner > div:nth-child(1){
        width: 700px;
        height: 100px;
        flex-direction: column;
        background-color: blueviolet;
        color: aquamarine;
        padding: 7px;
        margin: 15px ;
        
    }

    .flex-conteiner > div:nth-child(2){
        display: flex;
        width: 700px;
        height: 100px;
        padding: 7px;
        margin: 15px ;
        background-color: crimson;
        color:gold;
        
    }
